*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.logo{
	text-align: left;
}
.logo img{
	width: 80px;
	height: 50px;
	margin-left: 40px;
}
.navbar input[type=text] {
  float: right;
  padding: 6px;
  border-width: 6px;
  border-color: khaki;
  margin-top: 8px;
  margin-right: 400px;
  font-size: 17px;
  border-radius: 5px;
  }
.navbar{
 	text-align: right;
 	width: 100%;
 	padding: 35px 0;
 	align-items: center;
 	justify-content: space-between;
 	float: left;
}
.navbar h2{
	text-align: left;
	font-family: cursive;
}

.navbar a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	flex: 1;
	margin-left: 40px;
}
.container img{
	width: 600px;
	height: 280px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	border-color: khaki;
}
.text{
	position: absolute;
	text-align: center;
	top: 50%;
	left: 35%;
	line-height: 2;
	color: solid black;
	background-color: rgb(255, 255,255, 0.68);	
}
.text h3{
	font-size: 130%;
	font-family: cursive;
}
.text button{
	text-align: center;
	font-weight: bold;
	top: 60%;
	left: 20%;
	cursor: pointer;

}
.categories{
	text-align: center;
}

.categories>*{
	margin: 2%;
}
.categories a{
	color: saddlebrown;
	margin-right:40px ;
 	
}
.display img{
	width: 250px;
	height: 350px;	
	margin-left: 15px;
}
.containers{
	float: left;
	justify-content: space-between;
}
.box1{
	background-color: burlywood;
	border-style: none;
	width: 400px;
	padding: 20px;
	margin-left: 100px;
	margin-top: 40px;
	text-align: center;
	font-family: fantasy;
	font-size: 120%;
}
.box1 p::first-letter{
	font-size: 160%;
	font-weight: bold;
}
.box2{
	background-color: burlywood;
	border-style: none;
	width: 300px;
	margin-left: 700px;
	margin-top: -280px;
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	font-style: oblique;
	font-family: cursive;
}
.box2 button{
	font-weight: bold;
	font-size: 80%;
	background-color: khaki;
}
.box2 button::hover{
	background-color: burlywood;
}
.deals button{
	border-style: solid;
	font-family: cursive;
	font-size: 200%;
	margin: 25px;
	text-align: center;
	width: 60%;
	margin-left: 200px;
	margin-top: 100px;
	background-color: khaki;
}
.deals button{
	background-color: burlywood;
}

.reviews h3{
	text-align: center;
}
.rev1{
	border-style: solid;
	width: 200px;
	padding: 20px;
	margin-left: 100px;
	margin-top: 30px;
	text-align: center;
	font-family: cursive;
	border-color: burlywood;
	border-width: 5px;
}
.rev2{
	border-style: solid;
	width: 200px;
	padding: 20px;
	margin-left: 400px;
	margin-top: -250px;
	text-align: center;
	font-family: cursive;
	border-color: burlywood;
	border-width: 5px;
}
.rev3{
	border-style: solid;
	width: 200px;
	padding: 20px;
	padding-bottom: 39px;
	margin-left: 700px;
	margin-top: -250px;
	text-align: center;
	font-family: cursive;
	border-color: burlywood;
	border-width: 5px;
}
.reviews button{
	margin-left: 800px;
	margin-top: 10px;
	background-color: khaki;
	font-size: 100%;
}

.container2{
	max-width: 1170 px;
	display: flex;
	color: black;
}
.container2>*{
	margin: 2%;
}

.footer{
	padding: 50px 0;
}
.footer h5{
	content: '';
	color: saddlebrown;
	height: 3px;
	box-sizing: border-box ;
	margin-left: 80px;
}
.footer a{
	color: saddlebrown;
}
.footer img{
	width: 20px;
	height: 20px;
}